/* 
    Created on : 03/04/2016, 01:44:35
    Author     : Bruno
    version on : 08/04/2016, 13:23:15
    Author     : Igor
*/
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption);
@import url(https://fonts.googleapis.com/css?family=Cuprum);
*{
    box-sizing: border-box;margin: 0;
    border-radius: 0!important;
}
html{
    height: 100%;    
}
body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;    
    padding: 0;    
    height: 100%;
    width: 100%;
}
#login{
    /*segunda sprint*/    
}
.home{
    height: 100%;
    min-height: 480px;
    background-image: url('img/home.jpg');
    background-size: cover;
}
.home h1{
    font-family: 'PT Serif Caption', serif;
    text-shadow:#000 0.5px -0.5px, #000 -0.5px 1px, #000 0.5px 0.5px, #000 -0.5px -0.5px;    
    color: white;
    text-align: center;
    font-size: 5vw;        
}
.div{
    border-top: 5px solid white;
    width: 90%;    
    margin: auto;
}
.home p{
    text-align: center;
    color: white;
    font-size: 22px; 
    font-family: 'Cuprum', sans-serif;     
}


.layer{
    background:rgba(0,0,0,0.4);
    height: 100%;    
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;    
}
code{
    background: rgb(102, 102, 102);
    display: block;    
}
a {
    font-weight: bold;
    text-decoration: none!important;
}
.content  {
    /*no size*/
}
.form-messages .error {
    color: #e81f1f;
}
.form-messages .info {
    color: #156b2a;
}
.formularios{
    margin: auto;
    border: 5px solid gray;    
}

input[type="text"]:disabled {
    color: blue;
    font-weight: bold;
    opacity: 10;
}



/* AOS 400px muda dispocição da tela rever semi responsivo by Igor 1824 08042016 padronizar com jquery incluir iphone*/
@media screen and (max-width: 400px) {
    .content>p{
        font-size: 14px;        
    }
    .div{
        border-top: 1px solid white;
    }
    .home{
        background-image: none;
        background: gray;
    }
    #equipe{
        visibility:hidden ;
    }
}